<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <title>
    Django v4.1 -
    {% block title %}
      Test App Title
    {% endblock title %}
  </title>

  {% block stylesheets %}{% endblock stylesheets %}
  {% block scripts %}{% endblock scripts %}
</head>

<body>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
          {{ message }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% block body %}
    <h1>
      {% block page_header %}
        Django v4.1 - Test Page Header
      {% endblock page_header %}
    </h1>

    <h2>
      {% block page_subheader %}
        Test Page Subheader
      {% endblock page_subheader %}
    </h2>

    <div>
      {% block content %}
        <p>Test Page Content</p>
      {% endblock content %}
    </div>
  {% endblock body%}
</body>

</html>
